/**
 * COLORS
 */
$primary: #595C69;
$secondary: #FFBF9D;
$light: #FFF8F2;
$dark: #303036;
$gray: #9FA1AA;
$gray-light: #EAEAEA;
$black: #000000;

/**
 * SHADOWS
 */
$box-shadow-bottom:
  0px 0.4px 0.3px rgba(0, 0, 0, 0.011),
  0px 0.8px 0.7px rgba(0, 0, 0, 0.016),
  0px 1.4px 1.2px rgba(0, 0, 0, 0.019),
  0px 2.1px 1.7px rgba(0, 0, 0, 0.022),
  0px 3px 2.5px rgba(0, 0, 0, 0.025),
  0px 4.3px 3.5px rgba(0, 0, 0, 0.028),
  0px 6px 5px rgba(0, 0, 0, 0.031),
  0px 8.8px 7.3px rgba(0, 0, 0, 0.034),
  0px 13.5px 11.3px rgba(0, 0, 0, 0.039),
  0px 24px 20px rgba(0, 0, 0, 0.05)
;

$box-shadow:
  0px 0px 0.3px rgba(0, 0, 0, 0.011),
  0px 0px 0.7px rgba(0, 0, 0, 0.016),
  0px 0px 1.2px rgba(0, 0, 0, 0.019),
  0px 0px 1.7px rgba(0, 0, 0, 0.022),
  0px 0px 2.5px rgba(0, 0, 0, 0.025),
  0px 0px 3.5px rgba(0, 0, 0, 0.028),
  0px 0px 5px rgba(0, 0, 0, 0.031),
  0px 0px 7.3px rgba(0, 0, 0, 0.034),
  0px 0px 11.3px rgba(0, 0, 0, 0.039),
  0px 0px 20px rgba(0, 0, 0, 0.05)
;





/**
 * BORDER RADIUS
 */
$border-radius: .8rem;
$border-radius-sm: .4rem;

/**
 * FONT SIZES
 */
$title-f-size: 1.7rem;
$subtitle-f-size: 1.3rem;
$paragraph-f-size: 1rem;
$helpers-f-size: 0.9rem;